<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Image Morphing Game</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Image Morphing Game</h1>
    <h3>Guess whose child is this ?</h3>
    <img id="morph-result" src="" width="256" height="256">
    <br>
    <button id="new-morph-btn">New morph</button>
    <button id="answer-btn">Answer</button>
    <h4 id="answer-div"></h2>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>
